<%= form_with(model: instrument) do |form| %>
  <% if instrument.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(instrument.errors.count, "error") %> prohibited this instrument from being saved:</h2>

      <ul>
        <% instrument.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class='container'>
   <div>
    <%= form.label :title, style: "display: block", class:"title" %>
    <%= form.text_field :title,class:"text" %>
  </div>

   <div>
    <%= form.label :price, style: "display: block", class:"title" %>
    <%= form.text_field :price,class:"text" %>
  </div>

   <div>
    <%= form.label :model, style: "display: block", class:"title" %>
    <%= form.text_field :model,class:"text" %>
  </div>

   <div>
    <%= form.label :description, style: "display: block", class:"title" %>
    <%= form.text_area :description,class:"text" %>
  </div>

  <div class="field">
    <%= form.label :brand, class:"title" %>
    <%= form.select :brand, Instrument::BRAND, prompt: "Select brand" %>
  </div>

  <div class="field">
    <%= form.label :condition, class:"title" %>
    <%= form.select :condition, Instrument::CONDITION, prompt: "Select condition" %>
  </div>

  <div class="field">
    <%= form.label :finish, class:"title"  %>
    <%= form.select :finish, Instrument::FINISH, prompt: "Select finish" %>
  </div>

  <%=  form.file_field :image, class:'choose-image-button' %>
  <div>
<br>
<br>
    <%= form.submit %>
  </div>
<% end %>
</div>

<h1><%= stylesheet_link_tag 'instrumant_form' %></h1>